In [2]:
import pandas as pd
import numpy as np
# read text file into pandas DataFrame
df = pd.read_csv('data\dane.txt', sep='\t', encoding='utf8')
# settings to display all columns, rows
pd.set_option("display.max_columns", None)
pd.set_option('display.max_rows', None)
df

,Imie,Nazwisko,Wiek,Stanowisko,Zarobki,Czy posiada uprawnienia kat. D
0,Alicja,Dolkiewicz,25,Referent,2050,tak
1,Tomasz,Babinicz,28,Specjalista,3890,nie
2,Maciej,Treska,40,Starszy specjalista,6000,brak danych
3,Maciej,Drozd,45,NaN,3000,NaN
4,Wioleta,Drzazga,34,Specjalista,4250,NaN
5,Anna,Druch,dwadzieścia,Starszy specjalista,5000,tak
6,Beata,Rodeń,28,Specjalista,4200,tak
7,Krzysztof,Milka,12,Specjalista,4000,nieprawda
8,Marcin,Rebik,34,Starszy specjalista,5500,nie
9,Michał,Osłoń,56,Referent,2100,tak

In [3]:
#change using if data in column
df.loc[(df['Czy posiada uprawnienia kat. D'] == 'nieprawda') , 'Czy posiada uprawnienia kat. D'] = 'nie'  
df.loc[(df['Czy posiada uprawnienia kat. D'] == 'brak danych' ) , 'Czy posiada uprawnienia kat. D'] = np.nan

# Apply the function to replace NaN to 0
df = df.replace(np.nan, 0)
# Remove not numeric values in "Wiek" (age) 
df['Wiek'] = pd.to_numeric(df['Wiek'], errors='coerce')

# Apply the function to replace NaN to 0
df = df.replace(np.nan, 0)

df.loc[(df['Stanowisko'] == 0) , 'Stanowisko'] = 'brak danych'
df= df.sort_values(by=['Stanowisko','Zarobki'])

print(df)
df.info()

        Imie    Nazwisko  Wiek           Stanowisko  Zarobki  \
0     Alicja  Dolkiewicz  25.0             Referent     2050
9     Michał       Osłoń  56.0             Referent     2100
1     Tomasz    Babinicz  28.0          Specjalista     3890
7  Krzysztof       Milka  12.0          Specjalista     4000
6      Beata       Rodeń  28.0          Specjalista     4200
4    Wioleta     Drzazga  34.0          Specjalista     4250
5       Anna       Druch   0.0  Starszy specjalista     5000
8     Marcin       Rebik  34.0  Starszy specjalista     5500
2     Maciej      Treska  40.0  Starszy specjalista     6000
3     Maciej       Drozd  45.0          brak danych     3000

  Czy posiada uprawnienia kat. D
0                            tak
9                            tak
1                            nie
7                            nie
6                            tak
4                              0
5                            tak
8                            nie
2                              0
3                              0
<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 0 to 3
Data columns (total 6 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Imie                            10 non-null     object
 1   Nazwisko                        10 non-null     object
 2   Wiek                            10 non-null     float64
 3   Stanowisko                      10 non-null     object
 4   Zarobki                         10 non-null     int64
 5   Czy posiada uprawnienia kat. D  10 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 560.0+ bytes