In [6]:
# samples from w3schools

import pandas
from sklearn import linear_model

df = pandas.read_csv("data\cars.csv")

df.head(5)

          Car       Model  Volume  Weight  CO2
0      Toyoty        Aygo    1000     790   99
1  Mitsubishi  Space Star    1200    1160   95
2       Skoda      Citigo    1000     929   95
3        Fiat         500     900     865   90
4        Mini      Cooper    1500    1140  105

In [7]:
X = df[['Weight', 'Volume']]
y = df['CO2']

regr = linear_model.LinearRegression()
regr.fit(X, y)


#predict the CO2 emission of a car where the weight is 2300g, and the volume is 1300ccm:
predictedCO2 = regr.predict([[2300, 1300]])

# najpierw przedstaw przewidywany wynik emisji a następnie jakie są współczynniki regresji 

print(predictedCO2, regr.coef_)


#These values tell us that if the weight increase by 1kg, the CO2 emission increases by 0.00755095g.
#And if the engine size (Volume) increases by 1 cm3, the CO2 emission increases by 0.00780526 g.
# We have predicted that a car with 1.3 liter engine, and a weight of 3300 kg, will release approximately 115 grams of CO2 for every kilometer it drives.
# Which shows that the coefficient of 0.00755095 is correct:
# 107.2087328 + (1000 * 0.00755095) = 114.75968

[107.2087328] [0.00755095 0.00780526]